# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Test and coverage reports
.coverage
htmlcov/
.tox/
.nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints


# macOS files
.DS_Store

# Logs
*.log
